<%- include('../partials/header') %>

<section id="show-page" class="other-page">
<div class="color-block" style="background-color: rgb(<%= block.colorRed  %>, <%= block.colorGreen  %>, <%= block.colorBlue  %>); color:<%= block.colorText %>; ">
<% if (block.imageLink) { %>
    <img src="<%= block.imageLink %>" width=95 height=95>
<% } %>
<% if (block.messages.length) { %>
        <center><%= block.messages[0].content %>
        </center>
    <% } %>
</div>
  <div>Red Value: <%= block.colorRed %><br>
  Green Value: <%= block.colorGreen %><br>
  Blue Value: <%= block.colorBlue %><br>
  Text Color: <%= block.colorText %><br>
  Linked Image: <%= block.imageLink %><br>

<br>
<a href="/blocks/<%= block._id %>/edit">Change Block Details</a><br>
</div>


<div>
<h2>Messages</h2>
<i>Only the top-most message will appear in the main block page!</i><br>
<p>If an image link is included in the block, the message text will 'appear' on another block!</p>

<% if(user) { %>
  <form id="add-message-form" method="POST"
    action="/blocks/<%= block._id %>/messages">
    <label></label>&nbsp;
    <textarea name="content"></textarea>&nbsp;
    <input type="submit" value="Add Message">
  </form>
<% } %>
<br><br>


<% if (block.messages.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Message</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <% block.messages.forEach(function(r) { %>
        <tr>
          <td class="message-user"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/messages/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
<% } else { %>
  <h5>No Messages Yet</h5>
<% } %>
</div>
  </section>
<%- include('../partials/footer') %>
